
@import "../../node_modules/@angular/material/theming";
@import "./variables.scss";
//@use '@angular/material' as mat;
@include mat-core();

$blue-gray-primary: mat-palette($mat-blue, 600);
$blue-gray-accent: mat-palette($mat-orange, 500);
$blue-gray-warn: mat-palette($mat-red, 900);

$blue-gray-theme: mat-light-theme((
    color: (
      primary: $blue-gray-primary,
      accent: $blue-gray-accent,
      warn: $blue-gray-warn,
    )
));

.my-example-theme {
  @include angular-material-theme($blue-gray-theme);
}

